* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
header, footer {
    width: 100%;
    height: 4rem;
    background: #002b4a;
}
/* ================== CALCULATOR STYLE====================== */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #dfc3ef;
    height: calc(100vh - 8rem);
}
.calculator {
    height: 550px;
    padding: 8px;
    display: grid;
    grid-template-rows: 1fr 4fr;
    border-radius: 20px;
    background: #002b4a;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.568), 0 10px 10px rgba(0, 0, 0, 0.329);
}
#displayScreen {
    width: 100%;
    height: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fdfefe;
    padding-right: 10px;
    font-size: 3em;
    text-align: right;
    background-color: transparent;
}
#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    text-align: center;
    color: white
}
.btn {
    display: flex;
    background: #001e34;
    border-radius: 3px;
    font-size: 1.2em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    margin: 1.5px;
}
.green{
    color: #008000;
}
.purple{
    color: #0b5c92f6;
}
.dot {
    grid-column: span 2;
}
.equal {
    grid-row: span 2;
}
/* ==================== CALCULATOR STYLE ENDS ================== */
footer{
    bottom: 0;
}
